global-exclude __pycache__
include *.txt
include .coveragerc
include Makefile
exclude tests
recursive-exclude tests *
exclude docs/build
recursive-exclude docs/build *

recursive-include docs *.bat
recursive-include docs *.css
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include hovercraft *.cfg
recursive-include hovercraft *.css
recursive-include hovercraft *.js
recursive-include hovercraft *.xsl
